.page .section-2 b::before, .page .section-4 b::before {
  content: '';
  margin-left: -10px;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: grey;
  opacity: .5;
}

.page .section-1 b::before, .page .section-3 b::before {
  content: '';
  margin-left: -10px;
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white;
  opacity: .5;
}

.page .w, .page .b {
  z-index: auto;
  position: static;
  padding-top: 2em;
  padding-bottom: 2em;
}

body .row {
  --bs-gutter-x: 0;
}

body a {
  text-decoration: none;
}

body .popup {
  top: 50%;
  bottom: 50%;
  width: 100%;
  margin: 0 auto;
  display: none;
  position: fixed;
  z-index: 101;
}

body #mask {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -78;
  background-color: #26262c;
  background-size: cover;
  display: none;
}

body #overlay {
  position: fixed;
  top: 1;
  bottom: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  z-index: 100;
  display: none;
}

body .cnt223 {
  width: 600px;
  min-height: 150px;
  margin: 100px auto;
  background: #f3f3f3;
  position: relative;
  z-index: 103;
  padding: 15px 35px;
  border-radius: 20px;
  -webkit-box-shadow: 0 2px 5px black;
          box-shadow: 0 2px 5px black;
}

body .cnt223 p {
  clear: both;
  color: #555555;
  /* text-align: justify; */
  font-size: 20px;
  font-family: "Fira Sans", sans-serif;
}

body .cnt223 a {
  text-decoration: none;
  font-weight: bold;
}

.page div, .page section {
  margin: auto;
  padding: auto;
}

.page .LandingDownload-list {
  list-style-type: '*';
  margin-left: 0px;
  padding-left: 0;
}

.page .wrap-1 .LandingDownload-header {
  padding-top: 2em;
  text-align: center;
}

.page .wrap-1 .LandingDownload-header h1.landingdownload-title {
  color: #0A4561;
  font-size: 55px;
  line-height: 1.1;
  font-family: "Fira Sans", sans-serif;
}

.page .wrap-1 .LandingDownload-header h2.landingdownload-under-title {
  font-weight: normal;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}

.page .wrap-1 .LandingDownload-button-r {
  min-height: 50px;
  height: auto;
  width: auto;
  background-color: #E31836;
  border: 1px solid #E31836;
  color: #fff;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s,color 0.25s;
  transition: background-color 0.25s,color 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .wrap-1 .LandingDownload-button-r:hover {
  background-color: #fff;
  color: #E31836;
  text-decoration: none;
  outline: 0;
}

.page .wrap-1 .LandingDownload-button-b {
  min-height: 50px;
  height: auto;
  width: auto;
  background-color: #fff;
  border: 1px solid #0A4561;
  color: #0A4561;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s,color 0.25s;
  transition: background-color 0.25s,color 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .wrap-1 .LandingDownload-button-b:hover {
  background-color: #0A4561;
  color: #fff;
  text-decoration: none;
  outline: 0;
}

.page .wrap-1 .CarouselBloc .vid-btn > * {
  margin: 10px 15px;
}

.page .wrap-1 .CarouselBloc .vid-btn {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
}

.page .wrap-1 .CarouselBloc .vid-btn a {
  white-space: nowrap;
}

.page .wrap-1 .CarouselBloc div.LandingDownload-video {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: table;
}

.page .wrap-1 .CarouselBloc div.LandingDownload-video:after {
  content: '';
  z-index: -1;
  display: block;
  position: absolute;
  height: 50%;
  width: 100%;
  background: #DBEFFF;
  top: 1;
  right: 1;
  bottom: 1;
  left: 0;
  margin-top: -10em;
}

.page .wrap-1 .CardBloc img {
  margin: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: absolute;
  top: 25em;
  bottom: 5em;
  right: 1em;
}

.page .wrap-1 .CardBloc .bh {
  position: static;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: black;
  font-size: 35px;
  font-weight: bold;
}

.page .wrap-1 .CardBloc .listCard {
  list-style-type: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}

.page .wrap-1 .CardBloc .listCard .ul-cart {
  background-color: #F9DADC;
  border-radius: 20px;
  padding: 2em;
  width: 420px;
  height: 250px;
  margin: 2em;
  position: relative;
}

.page .wrap-1 .CardBloc .listCard #seemr-card {
  position: absolute;
  top: 12em;
  right: 0;
  left: 1;
  height: 40px;
  background-color: transparent;
  border: 1px solid #0A4561;
  color: #0A4561;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  -webkit-transition: background-color 0.20s,color 0.20s;
  transition: background-color 0.20s,color 0.20s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .wrap-1 .CardBloc .listCard #seemr-card:hover {
  background-color: #041f2c;
  opacity: .2;
}

.page .wrap-1 .ContentBloc {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  bottom: 2em;
  left: 10em;
}

.page .wrap-1 .ContentBloc img {
  position: absolute;
  margin-left: -25em;
  margin-top: 1em;
}

.page .wrap-1 .ContentBloc h2.bh {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  color: black;
  font-size: 30px;
  font-weight: bold;
}

.page .wrap-1 .ContentBloc br + h2 {
  color: #19465f;
}

.page .wrap-1 .ContentBloc b::before {
  content: '';
  position: absolute;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 40px;
  height: 40px;
  left: -8px;
  border-radius: 50%;
  fill: grey;
  background: grey;
  opacity: .3;
}

.page .wrap-1 .ContentBloc .seemr {
  height: 40px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #0A4561;
  color: #0A4561;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s,color 0.25s;
  transition: background-color 0.25s,color 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .wrap-1 .ContentBloc .seemr:hover {
  background-color: #0A4561;
  color: #fff;
  outline: 0;
}

.page .w {
  background-color: #FEFFFF;
}

.page .b {
  background-color: #DBEFFF;
}

.page .blocContainer-d {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: block;
  margin-top: 2em;
  margin-bottom: 2em;
}

.page .section-1 .seemr {
  height: 40px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #0A4561;
  color: #0A4561;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s,color 0.25s;
  transition: background-color 0.25s,color 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .section-1 .seemr:hover {
  background-color: #0A4561;
  color: white;
  outline: 0;
}

.page .section-2 .seemr {
  height: 40px;
  margin-top: 10px;
  background-color: transparent;
  border: 1px solid #0A4561;
  color: #0A4561;
  border-radius: 25px;
  padding: 0 25px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 17px;
  font-weight: bold;
  -webkit-transition: background-color 0.25s,color 0.25s;
  transition: background-color 0.25s,color 0.25s;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

.page .section-2 .seemr:hover {
  background-color: #0A4561;
  color: white;
  outline: 0;
}
/*# sourceMappingURL=style.css.map */