//General
$red_clr: red;
$green_clr: green;
$black_clr: black;
$white_clr: white;
$grey_clr: grey;
$blue_clr: blue;

//Background
$bkg-white_clr : #FEFFFF;
$bkg-blue_clr: #DBEFFF;


//Buttons
$btn-red_clr:#E31836;
$btn-white_clr: #fff;
$btn-dblue_clr: #041f2c;
$button-hover_clr:rgb(61, 6, 6);

//Cards
$card3_clr:#19465F;
$card-bkg_clr:#F9DADC;

//Popup
$pp-text-grey_clr: #555555;
$pp-bkg_clr: #f3f3f3;
$mask-bkg_clr:#26262c;


//Text
$font-navyblue_clr:#19465f;
$font-blue_clr:#0A4561;
$font-black_clr: black;