//Fonts
$basic-font: 'Fira Sans', sans-serif;
$arial_font: Arial, Helvetica, sans-serif;
$lucida_font: "Lucida Console", "Courier New", monospace;
$p-font: 'Fira Sans', sans-serif;



//Size
$basic-size: 1rem;

$h1-basic-size: 40px;