//FUNCTIONS
@mixin el-absolute($top, $right, $bottom, $left, $x, $y) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    transform: translate($x, $y);
}

@mixin pseudo($display: block, $pos: absolute, $content: ''){
    content: $content;
    display: $display;
    position: $pos;
}



//


//CARDS


//

//COMPONENTS

@mixin  blocContainer-d {
    width:fit-content;
    justify-content: center;
    align-items: center;
    display:block;
    margin-top:2em; margin-bottom:2em;
}

@mixin seemr($border-color, $color, $hover-bkg, $hover-color) {
    height: 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid $font-blue_clr;
    color: $font-blue_clr;
    border-radius: 25px;
    padding: 0 25px;
    display: inline-flex;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.25s,color 0.25s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: $font-blue_clr;;
        color: $white_clr;
        outline: 0;
    }
}

@mixin  p-ellipse($bkg-color) {
    &::before {
        content: '';
        margin-left: -10px;
        position: absolute;
        box-sizing: content-box;
        width: 40px; height: 40px;
        border-radius: 50%;
        background: $bkg-color;
        opacity: .5;
    }
}

@mixin LandingDownload-button ($bkg-color, $border, $color, $hover-bkg, $hover-clr) {
    min-height: 50px;
    height: auto;
    width: auto;
    background-color: $bkg-color;
    border: 1px solid $border;
    color: $color;
    border-radius: 25px;
    padding: 0 25px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
    transition: background-color 0.25s,color 0.25s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: $hover-bkg;
        color: $hover-clr;
        text-decoration: none;
        outline: 0;
    }
}

@mixin seemr-card {
    position: absolute;
    top: 12em;
    right: 0;
    left:1;
    height: 40px;
    background-color: transparent;
    border: 1px solid $font-blue_clr;
    color: $font-blue_clr;
    border-radius: 25px;
    padding: 0 25px;
    display: inline-flex;
    align-items: center;
    font-size: 17px;
    transition: background-color 0.20s,color 0.20s;
    transition-timing-function: ease-in-out;

    &:hover {
        background-color: $btn-dblue_clr;
        opacity: .2;
    }
}



//