@import './colors';
@import './fonts';
@import './placeholders';
@import './mixins';

@media screen and (max-width: auto) { }

    body {

        .row {
            //Disable scrolling horizontale
            --bs-gutter-x: 0;
        }

        a {
            text-decoration: none;
        }

        .popup{
            top:50%; bottom:50%;
            width: 100%;
            margin: 0 auto;
            display: none;
            position: fixed;
            z-index: 101;
        }
    
        #mask {
            position:absolute;
            left:0;right:0;
            top:0;bottom: 0;
            z-index:-78;
            background-color:$mask-bkg_clr;
            background-size:cover;
            display:none;
        }
    
        #overlay {
            position: fixed;
            top: 1; bottom:1;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $black_clr;
            filter:alpha(opacity=70);
            -moz-opacity:0.7;
            -khtml-opacity: 0.7;
            opacity: 0.7;
            z-index: 100;
            display: none;
        }
        .cnt223{
            width: 600px;
            min-height: 150px;
            margin: 100px auto;
            background: $pp-bkg_clr;
            position: relative;
            z-index: 103;
            padding: 15px 35px;
            border-radius: 20px;
            box-shadow: 0 2px 5px $black_clr;
    
            p{
                clear: both;
                color: $pp-text-grey_clr;
                /* text-align: justify; */
                font-size: 20px;
                font-family: $basic-font;
            }
    
            a{
                text-decoration: none;
                font-weight: bold;

            }
    
        }
        
    }

    .page {
        
        div, section {
            margin:auto;
            padding: auto;
        }

        .LandingDownload-list {
            list-style-type: '*';
            margin-left: 0px;
            padding-left: 0;
        }

        .wrap-1 {

            .LandingDownload-header{
                padding-top: 2em;
                text-align: center;

                h1.landingdownload-title {
                    color: $font-blue_clr;
                    font-size: 55px;
                    line-height:1.1;
                    font-family:$basic-font;
                }

                h2.landingdownload-under-title {
                    font-weight: normal;
                    font-size:30px;
                    font-family:$arial_font;
                }
            }

            .LandingDownload-button-r {
                @include LandingDownload-button($btn-red_clr, $btn-red_clr,$btn-white_clr, $btn-white_clr, $btn-red_clr);
            }
        
            .LandingDownload-button-b {

                @include LandingDownload-button($btn-white_clr, $font-blue_clr, $font-blue_clr, $font-blue_clr, $btn-white_clr);
               
            }

            .CarouselBloc {

                .vid-btn>* {
                    margin: 10px 15px;
                }

                .vid-btn {
                    justify-content: center;
                    display: flex;
                    width: auto;
                    
                    a {
                        white-space: nowrap;
                    }
                }
            
                div.LandingDownload-video {
                    height: fit-content;
                    width: fit-content;
            
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    display: table;
            
                    &:after {
                        content: '';
                        z-index:-1;
                        display: block;
                        position: absolute;
                        height: 50%;
                        width:100%;
                        background: $bkg-blue_clr;
                        top: 1;
                        right: 1;
                        bottom: 1;
                        left: 0;
                        margin-top: -10em;
                    }
                }
            }

            .CardBloc {

                img {
                    margin: 10px 15px;
                    width: fit-content;
                    height: fit-content;
                    position:absolute;
                    top: 25em; bottom: 5em;
                    right:1em;
                }

                .bh {
                    position:static;
                    text-align: center;
                    width:fit-content;
                    margin: auto;
                    color: $black_clr;
                    font-size: 35px;
                    font-weight: bold;
                }
        
                .listCard {
                    list-style-type: none;
                    justify-content: center;
                    margin: 0; padding: 0;
            
                    .ul-cart {
                        background-color: $card-bkg_clr;
                        border-radius: 20px;
                        padding: 2em;
                        width: 420px;
                        height: 250px;
                        margin: 2em;
                        position: relative;
                    }
            
                    #seemr-card {
                        @include seemr-card;
                    }
                }
            
            }

            .ContentBloc {
                width: fit-content;
                position:relative;
                bottom: 2em;
                left: 10em; 
                
                img {
                    position:absolute;
                    margin-left: -25em;
                    margin-top:1em;
                }

                h2.bh {
                    position:absolute;
                    width:fit-content;
                    margin: auto;
                    color: $font-black_clr;
                    font-size: 30px;
                    font-weight: bold;
                }

                br + h2{
                    color: $font-navyblue_clr;
                }
        
                b::before {
                    content: '';
                    position: absolute;
                    box-sizing: content-box;
                    width: 40px; height: 40px;
                    left: -8px;
                    border-radius: 50%;
                    fill: $grey_clr;
                    background: $grey_clr;
                    opacity: .3;
                }

                .seemr {
                    height: 40px;
                    margin-top: 10px;
                    background-color: transparent;
                    border: 1px solid $font-blue_clr;
                    color: $font-blue_clr;
                    border-radius: 25px;
                    padding: 0 25px;
                    display: inline-flex;
                    align-items: center;
                    font-size: 17px;
                    font-weight: bold;
                    transition: background-color 0.25s,color 0.25s;
                    transition-timing-function: ease-in-out;

                    &:hover {
                        background-color: $font-blue_clr;;
                        color: #fff;
                        outline: 0;
                        
                    }
                }
                
            }

        }

        .w, .b {
            @extend %w-b;
        }
        .w {
            background-color: $bkg-white_clr;
        }
        .b {
            background-color: $bkg-blue_clr;
        }

        .blocContainer-d {
            
            @include blocContainer-d;
        }
        
        .section-1 {
        
            b{
                @extend %p-ellipse-white;
            }
    
            .seemr {
                @include seemr($font-blue_clr, $font-blue_clr,  $font-blue_clr, $white_clr);
            }
                
        }

        .section-2 {

            b {
                @extend %p-ellipse-grey;
            }

            .seemr {
                @include seemr($font-blue_clr, $font-blue_clr,  $font-blue_clr, $white_clr);

            }
        }

        .section-3 {

            b {
                //@include p-ellipse($white_clr);
                @extend %p-ellipse-white;
            }

        }

        .section-4 {
            b {
                //@include p-ellipse($grey_clr);
                @extend %p-ellipse-grey;
            }

        }

    }

